<!DOCTYPE html>
<html lang="en">
    <head>
        <title>File Hosting</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/bbd7036ee1.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">File Hosting</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="justify-content: flex-end;">
                    <div class="navbar-nav">
                        <a class="nav-link active" href="/">Home</a>
                        <a class="nav-link" href="/files" style="margin-right: 10px!important;">Files</a>
                        {% if logged_in %}
                        <a class="nav-link btn btn-primary text-light" href="/logout"><i class="fa-solid fa-right-to-bracket fa-flip-horizontal"></i>&nbsp;&nbsp;Logout</a>
                        {% else %}
                        <a class="nav-link btn btn-primary text-light" href="#login"><i class="fa-solid fa-right-to-bracket"></i>&nbsp;&nbsp;Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>

        <div class="container py-5">
            <div class="p-5 bg-dark text-light rounded">
                <div class="container">
                    <h1 class="display-3">File Hosting</h1>
                </div>
            </div>

            <div class="row pt-5">
                <div class="col-lg-4 col-sm-12">
                    <div class="card" id="login">
                        <div class="card-body">
                            {% if not logged_in %}
                            <form action="/login" method="post">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Username</span>
                                    <input type="text" class="form-control" value="admin" readonly>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Password</span>
                                    <input type="password" class="form-control" name="authorization" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Login</button>
                            </form>
                            {% else %}
                            <p>You're already logged in, access your files with the button below. You can logout with the logout button on the navbar.</p>
                            <a href="/files" class="btn btn-primary">Files</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-12"></div>
            </div>
        </div>

        <div class="p-4 bg-light">
            <div class="container">
                Powered by Flask File Hosting, developed by Ben Tettmar.
                <br>
                Any issues please report them on the Github page.
            </div>
        </div>
    </body>
</html>